* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    direction: rtl;
    user-select: none;
    font-family: samim, sans-serif;
}

.holder {
    width: 90%;
    display: flex;
    max-width: 400px;
    min-height: 400px;
    margin: 40px auto;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.holder h1 {
    width: 100%;
    font-size: 24px;
    text-align: right;
}
.holder p {
    font-size: 14px;
    color: #37474F;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
}

.holder textarea {
    width: 100%;
    margin: 5px;
    padding: 10px;
    outline: none;
    min-width: 100%;
    max-width: 100%;
    min-height: 100px;
    max-height: 220px;
    border-radius: 4px;
    transition-duration: 0.3s;
    border: 2px solid #90A4AE;
    font-family: samim, sans-serif;
}
.holder textarea:focus {
    border: 2px solid #37474F;
}

.check-btn {
    margin: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0px 26px;
    line-height: 33px;
    border-radius: 4px;
    transition-duration: 0.3s;
    background-color: #42A5F5;
    font-family: samim, sans-serif;
}
.check-btn:hover {
    background-color: #1E88E5;
}

.results {
    height: 0;
    display: none;
    text-align: justify;
    transition: all 0.3s;
    margin: 10px 0 20px 0;
}

.results ul li {
    margin: 4px;
    font-size: 12px;
    list-style: none;
    padding: 2px 10px;
    line-height: 26px;
    border-radius: 4px;
    display: inline-block;
    background-color: #ECEFF1;
}

.show {
    height: auto;
    display: block;
}

.bad-result {
    display: none;
    color: #F50057 !important;
}
.good-result {
    display: none;
}
.good-result h3 {
    color: #66BB6A !important;
}